<div class="container">
    <h4>Update Your Task....</h4>  <br>
    <form id="updateTaskForm" class="col-sm-6" (ngSubmit)="onUpdate()" #f="ngForm">
      <div class="row">
        <div class="col-sm-3">
          <label for="prjtName">Project:</label>
        </div>
        <div class="col-sm-7">
            <input 
              class="form-control" 
              type="text" 
              id="prjtName" 
              [(ngModel)]="projectName"
              name="prjtName" 
              #prjtName='ngModel'
              [readonly]="true"
              [required]="true"
            >        
          </div>
        <div class="col-sm-2 clearfix">
            <button id="projectSearchButton"
              class="btn btn-dark float-right"
              type="button"
              (click)="openPrjModal()"
              data-target="#projectModal"
              >Search 
            </button>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-3">
            <label for="taskname">Task:</label>
          </div>
          <div class="col-sm-9">
              <input 
              class="form-control" 
              type="text" 
              placeholder="Enter Task Name" 
              id="taskname" 
              [(ngModel)]="task.taskName" 
              name="taskname" 
              required
              #taskDet='ngModel'
            >
            <span class="help-block"
                  *ngIf="!taskDet.valid && taskDet.touched">Please enter valid Task Name</span>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-3">
            <label for="taskPriority">Priority:</label>
          </div>
          <div class="col-sm-9">
            <input 
              *ngIf="!task.parent"
              class="form-control" 
              type="range" 
              id="taskPriority" 
              min=0 
              max=30 
              step=1 
              [(ngModel)]="task.priority"
              name="taskPriority"
              #priority='ngModel'
            >
            <input 
            *ngIf="task.parent"
            class="form-control" 
            type="range" 
            id="taskPriority" 
            min=0 
            max=30 
            step=1 
            [disabled]="true"
            ngModel
            name="taskPriority"
          >
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-3">
            <label for="parentTask">Parent Task:</label>
          </div>
          <div class="col-sm-7">
              <input 
                class="form-control" 
                type="text" 
                id="parentTask" 
                [(ngModel)]="selectedParent"
                name="parentTask" 
                #parentTask='ngModel'
                [readonly]="true"
    
              >        
            </div>
          <div class="col-sm-2 clearfix">
              <button 
                *ngIf="!task.parent"
                id="parentSearchButton"
                class="btn btn-dark float-right"
                type="button"
                (click)="openParenModal()"
                data-target="#parentModal"
                >Search 
              </button>
              <button 
                *ngIf="task.parent"
                id="parentSearchButton"
                class="btn btn-dark float-right"
                type="button"
                [disabled]="true"
              >Search 
            </button>
            </div>
        </div>
        <br>
        <div ngModelGroup="dateValues" #dateValidation="ngModelGroup" dateValidator>
        <div class="row">
            <div class="col-sm-3">
              <label for="startDate">Start Date:</label>
            </div>
            <div class="col-sm-7">
                <input 
                *ngIf="!task.parent"
                class="form-control" 
                type="date" 
                id="startDate"
                [(ngModel)]="task.startDate"
                name="startDate" 
                required
                [min]="stDate"
                #startDat='ngModel'>
                
                <input 
                *ngIf="task.parent"
                class="form-control" 
                type="date" 
                id="startDate"
                ngModel
                name="startDate" 
                [readonly]="true"
                #startDat='ngModel'>
            </div>
          </div><br>
          <div class="row">
            <div class="col-sm-3" for="endDate">End Date:</div>
            <div class="col-sm-7">
                <input 
                *ngIf="!task.parent"
                class="form-control" 
                type="date" 
                id="endDate"
                [(ngModel)]="task.endDate"
                name="endDate"
                required
                [min]="stDate"
                #endDat='ngModel' 
               >  
               <input 
               *ngIf="task.parent"
               class="form-control" 
               type="date" 
               id="endDate"
               ngModel
               name="endDate"
               [readonly]="true"
               #endDat='ngModel' 
             >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9" *ngIf="!dateValidation.valid && task.parent==false">          
                <span class="help-block" *ngIf="dateValidation.errors">
                  Start & End Dates should be valid and end date should on greater than or equal to start date
                </span>
            </div> 
          </div>
      </div>
        <br>
      <div class="row">
          <div class="col-sm-3">
            <label for="userName">User:</label>
          </div>
          <div class="col-sm-7">
              <input 
                class="form-control" 
                type="text" 
                id="userName" 
                [(ngModel)]="managerSearch"
                name="userName" 
                #userName='ngModel'
                [readonly]="true"
                [required]="true"
              >        
            </div>
          <div class="col-sm-2 clearfix">
              <button id="userSearchButton"
                class="btn btn-dark float-right"
                type="button"
                (click)="openUserModal()"
                data-target="#userModal"
                >Search 
              </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8"> </div>
            <div class="col-sm-2 clearfix">
                <button id="updateTaskButton"
                        class="btn btn-dark float-right"
                        type="button"
                        type="submit" 
                        [disabled]="isDisabled()"
                        >Update 
                </button>
            </div>
            <div class="col-sm-2 clearfix">
                <button id="cancelButton"
                        class="btn btn-dark float-right"
                        (click)="onCancel()"
                        >Cancel 
                </button>
            </div>
            
        </div>
    </form>
    <br>
    <!-- User MODAL -->
    <div id="userModal" class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" 
                  style="align-content: left;color:blue;font-family: 'Lucida Sans', 
                        'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
                        Geneva, Verdana, sans-serif"
                  >Select Manager for the Project
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="closeUserModal()">
                <span aria-hidden="true">&times;</span>
              </button>            
            </div>
            <div class="modal-body">          
              <div class="container-fluid">
              <ul class="managers">
                  <input name="search" [(ngModel)]="searchText" type="text" placeholder="Search" width="100%">
                  <li *ngFor="let user of filteredUserList | userSearch : searchText"
                    [class.selected]="user === selectedManager"
                    (click)="onSelect(user)">
                    <span class="badge">{{user.empID}}</span> {{user.empFirstName}}&nbsp;{{user.empLastName}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button id="userModalCloseButton" type="button" class="btn btn-default" (click)="closeUserModal()" >Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal !-->
  
      <!-- Project MODAL -->
      <div id="projectModal" class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayPrjModal}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" 
                    style="align-content: left;color:blue;font-family: 'Lucida Sans', 
                          'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
                          Geneva, Verdana, sans-serif"
                    >Select the Project Title
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="closePrjModal()">
                  <span aria-hidden="true">&times;</span>
                </button>            
              </div>
              <div class="modal-body">          
                <div class="container-fluid">
                <ul class="managers">
                    <input name="search" [(ngModel)]="searchText" type="text" placeholder="Search" width="100%">
                    <li *ngFor="let project of filteredProjects | projectSearch : searchText"
                      [class.selected]="project === selectedProject"
                      (click)="onSelectProject(project)">
                      <span class="badge">{{project.projectID}}</span> {{project.projectName}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer">
                <button id="projectModalCloseButton" type="button" class="btn btn-default" (click)="closePrjModal()" >Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal !-->
  
        <!-- PARENT MODAL -->
      <div id="parentModal" class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayParentModal}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" 
                    style="align-content: left;color:blue;font-family: 'Lucida Sans', 
                          'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
                          Geneva, Verdana, sans-serif"
                    >Select the Parent Task
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="closeParentModal()">
                  <span aria-hidden="true">&times;</span>
                </button>            
              </div>
              <div class="modal-body">          
                <div class="container-fluid">
                  <ul class="managers">
                      
                      <div *ngIf="!task.project.projectName">
                        <h3 class="alertSym">Alert!</h3>  
                        <span class="alert">You must choose a valid project to list down project specific parent tasks</span>
                      </div>
                      <div *ngIf="task.project.projectName">
                          <input name="search" [(ngModel)]="searchText" type="text" placeholder="Search" width="100%">
                        <li *ngFor="let task of parentTasks | taskSearch : searchText"
                            [class.selected]="task === selectedParent"
                        (click)="onSelectParent(task)">
                        <span class="badge">{{task.taskID}}</span> {{task.taskName}}
                       </li>
                      </div>
                  </ul>
                </div>
              </div>
              <div class="modal-footer">
                <button id="projectModalCloseButton" type="button" class="btn btn-default" (click)="closeParentModal()" >Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal !-->
  </div>